In [58]:
import pandas as pd
import csv
import requests
import json

In [59]:
with open('C:/Users/RAVID/Desktop/Ariel/3rd year/semester 2/כרייה וניתוח נתונים מתקדם בפייתון/מטלות/מטלה 3/dests.txt') as file:
    reader = csv.reader(file)
    cities = []
    for row in file:
        cities.append(row.strip())

In [60]:
print(cities)

['Istanbul', 'Amsterdam', 'Valletta', 'Basel', 'Doha']

In [61]:
API = 'AIzaSyCxSOpo##'

url1 ="https://maps.googleapis.com/maps/api/distancematrix/json"

dataframe = pd.DataFrame({'target':[], 'Distance_km':[], 'Duration (hour+minutes)':[], 'Longitude':[], 'latitude':[]})

In [62]:
for i in cities:
    params = {
        'origins': 'Tel Aviv, Israel',
        'destinations': i,
        'key': API
    }

    response = requests.get(url1, params = params)

    data = response.json()
    
    distance_text = data['rows'][0]['elements'][0]['distance']['text']
    duration_text = data['rows'][0]['elements'][0]['duration']['text']
    
    
    url2 ="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (i,API)
    
    response2 = requests.get(url2)
    response_data = response2.json()
    lat = response_data['results'][0]["geometry"]["location"]['lat']
    lng = response_data['results'][0]["geometry"]["location"]['lng']

    
    
    new_row = {'target': data['destination_addresses'][0] , 'Distance_km': distance_text , 'Duration (hour+minutes)': duration_text, 'Longitude': lng ,'latitude': lat}
    
    dataframe = dataframe.append(new_row, ignore_index=True)

In [63]:
dataframe

,target,Distance_km,Duration (hour+minutes),Longitude,latitude
0,"İstanbul, Türkiye","1,815 km",21 hours 3 mins,28.978359,41.008238
1,"Amsterdam, Netherlands","4,533 km",2 days 0 hours,4.904139,52.367573
2,"Valletta, Malta","3,793 km",2 days 3 hours,14.514100,35.899237
3,"Basel, Switzerland","4,094 km",1 day 20 hours,7.588576,47.559599
4,"Doha, Qatar","2,164 km",22 hours 39 mins,51.531040,25.285447

In [64]:
Furthest = dataframe.sort_values('Distance_km', ascending=False).reset_index(drop =True)['target'][:3]

In [65]:
Furthest

0    Amsterdam, Netherlands
1        Basel, Switzerland
2           Valletta, Malta
Name: target, dtype: object