In [73]:
import pandas as pd
import csv
import requests
import json

In [74]:
with open('C:/Users/RAVID/Desktop/Ariel/3rd year/semester 2/כרייה וניתוח נתונים מתקדם בפייתון/מטלות/מטלה 3/dests.txt') as file:
    reader = csv.reader(file)
    cities = []
    for row in file:
        cities.append(row.strip())

In [75]:
print(cities)

['Istanbul', 'Amsterdam', 'Valletta', 'Basel', 'Doha']

In [76]:
API = 'AIzaSyCxSOpo7ttSj####'

url1 ="https://maps.googleapis.com/maps/api/distancematrix/json"

dataframe = pd.DataFrame({'target':[], 'Distance_km':[], 'Duration (hour+minutes)':[], 'Longitude':[], 'latitude':[]})

In [77]:
for i in cities:
    params = {
        'origins': 'Tel Aviv, Israel',
        'destinations': i,
        'key': API
    }

    try:
        response = requests.get(url1, params = params)
        data = response.json()
    except:
        print("Response not in valid JSON format")
    
    distance_text = data['rows'][0]['elements'][0]['distance']['text']
    
    duration_text = data['rows'][0]['elements'][0]['duration']['text']
    hours,num1, minutes, num2 = duration_text.split(' ')
    total_minutes = int(hours) * 60 + int(minutes)
    
    url2 ="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (i,API)
    
    try:
        response2 = requests.get(url2)
        response_data = response2.json()
    except:
        print("Response not in valid JSON format1")
    
    lat = response_data['results'][0]["geometry"]["location"]['lat']
    lng = response_data['results'][0]["geometry"]["location"]['lng']

    
    
    new_row = {'target': data['destination_addresses'][0] , 'Distance_km': distance_text , 'Duration (hour+minutes)': total_minutes, 'Longitude': lng ,'latitude': lat}
    
    dataframe = dataframe.append(new_row, ignore_index=True)

In [78]:
dataframe

,target,Distance_km,Duration (hour+minutes),Longitude,latitude
0,"İstanbul, Türkiye","1,815 km",1263.0,28.978359,41.008238
1,"Amsterdam, Netherlands","4,533 km",120.0,4.904139,52.367573
2,"Valletta, Malta","3,793 km",123.0,14.514100,35.899237
3,"Basel, Switzerland","4,093 km",80.0,7.588576,47.559599
4,"Doha, Qatar","2,164 km",1359.0,51.531040,25.285447

In [79]:
Furthest = dataframe.sort_values('Distance_km', ascending=False).reset_index(drop =True)['target'][:3]

In [80]:
Furthest

0    Amsterdam, Netherlands
1        Basel, Switzerland
2           Valletta, Malta
Name: target, dtype: object